@font-face {
  font-family: "Manrope";
  src: url("./Manrope.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "STIX";
  src: url("./stixtitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "STIXVar";
  src: url("./stixtvariable.ttf") format("truetype");
  font-weight: 100 900; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "STIXText";
  src: url("./stixtwotext-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}