@use "../config/mixins" as *;
.education {
  &-section {
    margin-bottom: 80px;
    .container {
      display: flex;
      align-items: center;
      gap: 92px;
    }

    &-text {
      h4 {
        font-size: 36px;
        font-weight: 600;
        color: var(--black);
        margin-bottom: 10px;
        span {
          color: var(--rose600);
        }
      }
      p {
        @include font(var(--slate700), 20px, 400);
        margin-bottom: 24px;
        width: 527px;
      }

      button {
        @include font(var(--white), 18px, 500);
        padding: 10px 24px;
        border-radius: 12px;
        border: 1px solid;
        background-color: var(--rose600);
        border-image-source: linear-gradient(
          94.32deg,
          #fb7185 0%,
          rgba(244, 63, 94, 0) 50.36%,
          #fb7185 100%
        );
        transition: all 0.3s ease;

        &:hover {
          transform: translateY(-2px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        }
        &:active {
          transform: scale(0.97);
        }
      }
    }

    &-cards {
      display: flex;
      align-items: center;
      gap: 16px;

      &-card:nth-child(1) {
        background-color: var(--rose200);
      }
      &-card:nth-child(2) {
        background-color: var(--pink200);
      }
      &-card {
        padding: 24px 23px 20px 23px;
        border-radius: 12px;

        width: 100%;
        background-image:
          url("../../images/education-img-1.svg"),
          url("../../images/education-img-2.svg");
        background-position:
          left center,
          right bottom;
        background-repeat: no-repeat;

        h4 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          @include font(var(--slate900), 24px, 600);
          margin-bottom: 6px;
          i {
            font-size: 32px;
            color: var(--rose600);
          }
        }
        p {
          @include font(var(--slate700), 18px, 400);
          margin-bottom: 33px;
        }
        a {
          @include font(var(--rose600), 18px, 500);
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }
    }
  }

  &-page {
    &-main {
      display: flex;
      align-items: center;
      gap: 92px;
      margin-bottom: 80px;
      &-text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h3 {
          @include font(rgba(15, 23, 42, 1), 36px, 600);
          span {
            color: var(--rose600);
          }
        }
        p {
          @include font(rgba(51, 65, 85, 1), 20px, 400);
        }
      }
      &-cards {
        display: flex;
        align-items: center;
        gap: 16px;

        &-card:nth-child(1) {
          background-color: var(--rose200);
        }
        &-card:nth-child(2) {
          background-color: var(--pink200);
        }
        &-card {
          padding: 24px 23px 20px 23px;
          border-radius: 12px;

          width: 100%;
          background-image:
            url("../../images/education-img-4.png"),
            url("../../images/education-img-2.svg");
          background-position:
            left center,
            right bottom;
          background-repeat: no-repeat;

          &-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
              @include font(var(--rose600), 18px, 500);
              display: flex;
              align-items: center;
              gap: 4px;
            }
          }

          h4 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include font(var(--slate900), 24px, 600);
            margin-bottom: 6px;
            i {
              font-size: 32px;
              color: var(--rose600);
            }
          }
          p {
            @include font(var(--slate700), 18px, 400);
            margin-bottom: 33px;
          }
        }
      }
    }

    &-wrapper {
      margin-bottom: 80px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      h3 {
        @include font(rgba(15, 23, 42, 1), 36px, 600);
        text-align: center;
        span {
          color: var(--rose600);
        }
      }
      &-item {
        display: flex;
        align-items: center;
        gap: 16px;
        justify-content: space-between;
        &-card {
          padding: 20px;
          border-radius: 12px;
          background-color: var(--rose100);

          background-image:
            url("../../images/education-img-5.png"),
            url("../../images/education-img-6.png");

          background-repeat: no-repeat, no-repeat;

          background-position:
            top right,
            bottom left;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;

          img {
            width: 52px;
            margin-bottom: 16px;
          }

          b {
            @include font(var(--rose600), 20px, 600);
            margin-bottom: 4px;
          }

          p {
          }
        }
      }
    }

    &-bottom {
      background-color: rgba(241, 245, 249, 0.7);
      padding: 40px 0px 0px 0px;
      margin-bottom: 100px;
      h2 {
        @include font(rgba(15, 23, 42, 1), 36px, 600);
        margin-bottom: 24px;
        text-align: center;
        span {
          color: var(--rose600);
        }
      }

      &-main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 23px;
        margin-bottom: 40px;
        &-item {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          gap: 16px;
          position: relative;
          padding-left: 20px;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 3px;
            height: 100%;
            background: var(--rose700);
          }

          img {
            width: 52px;
          }

          &-text {
            display: flex;
            flex-direction: column;
            gap: 4px;
            b {
              @include font(var(--black), 20px, 600);
            }
            p {
              @include font(rgba(51, 65, 85, 1), 18px, 400);
            }
          }
        }
      }
    }
  }
}
