@use "../config/mixins" as *;

.faq {
    &-section {
        margin-bottom: 100px;

        @include devices("sm") {
            margin-bottom: 60px;
        }

        h2 {
            @include font(rgba(15, 23, 42, 1), 36px, 600);
            text-align: center;
            margin-bottom: 32px;
            font-family: "STIXVar";

            span {
                color: var(--rose600);
            }

            @include devices("md") {
                font-size: 28px;
            }

            @include devices("sm") {
                font-size: 22px;
            }
        }

        &-main {
            display: flex;
            gap: 16px;
            align-items: start;

            @include devices("md") {
                flex-direction: column;
            }
        }

        &-image {
            @include devices("md") {
                width: 100%;
            }
        }

        &-items {
            width: 100%;
        }

        &-item {
            display: flex;
            flex-direction: column;
            padding: 16px;
            background: var(--white);
            border-bottom: 1px solid rgba(226, 232, 240, 1);
            cursor: pointer;
            transition: 0.3s;

            @include devices("sm") {
                padding: 12px;
            }

            &-question {
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include font(rgba(30, 41, 59, 1), 20px, 500);

                @include devices("md") {
                    font-size: 18px;
                }

                @include devices("sm") {
                    font-size: 16px;
                }

                i {
                    transition: 0.4s;
                    font-size: 20px;
                    background: var(--rose600);
                    border-radius: 50%;
                    padding: 2px;
                    color: #fff;

                    @include devices("sm") {
                        font-size: 16px;
                    }
                }
            }

            &-answer {
                max-height: 0;
                overflow: hidden;
                opacity: 0;
                margin-top: 0;
                transition:
                    max-height 0.4s ease,
                    opacity 0.3s ease,
                    margin 0.3s ease;

                font-size: 16px;

                @include devices("sm") {
                    font-size: 14px;
                }
            }

            &.active {
                .faq-section-item-question {
                    margin-bottom: 12px;

                    i {
                        transform: rotate(180deg);
                    }
                }

                .faq-section-item-answer {
                    opacity: 1;
                    margin-top: 8px;
                }
            }
        }
    }
}