@use "../config/mixins" as *;

.faq {
  &-section {
    margin-bottom: 100px;

    h2 {
      @include font(rgba(15, 23, 42, 1), 36px, 600);
      text-align: center;
      margin-bottom: 32px;
      font-family: "STIXVar";

      span {
        color: var(--rose600);
      }
    }

    &-main {
      display: flex;
      gap: 16px;
      align-items: start;
    }

    &-items {
      width: 100%;
    }

    &-item {
      display: flex;
      flex-direction: column;
      padding: 16px;
      background: var(--white);
      border-bottom: 1px solid rgba(226, 232, 240, 1);
      cursor: pointer;
      transition: 0.3s;

      &-question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include font(rgba(30, 41, 59, 1), 20px, 500);

        i {
          transition: 0.4s;
          font-size: 20px;
          background: var(--rose600);
          border-radius: 50%;
          padding: 2px;
          color: #fff;
        }
      }

      &-answer {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        margin-top: 0;
        transition:
          max-height 0.4s ease,
          opacity 0.3s ease,
          margin 0.3s ease;
        font-size: 16px;
      }

      &.active {
        .faq-section-item-question {
          margin-bottom: 12px;

          i {
            transform: rotate(180deg);
          }
        }

        .faq-section-item-answer {
          opacity: 1;
          margin-top: 8px;
        }
      }
    }
  }
}
