@use "../config/mixins" as *;

.leadership {
  &-page {
    margin-bottom: 100px;
    &-main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;

      &-cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 12px;
        overflow: hidden;

        background:
          url("../../images/lieadership-img-4.svg") left bottom no-repeat,
          url("../../images/leadership-img-5.svg") center top no-repeat,
          radial-gradient(
            98.15% 98.15% at 48.93% 1.85%,
            #fce7f3 0%,
            #fecdd3 100%
          );


        &:first-child {
          background:
            url("../../images/leadership-img-3.png") left bottom no-repeat,
            url("../../images/leadership-img-2.png") center top no-repeat,
            radial-gradient(
              98.15% 98.15% at 48.93% 1.85%,
              #f43f5e 0%,
              #9f1239 100%
            );

          .leadership-page-main-cards-card {
            &-text {
              p, h3 {
                opacity: 1;
              }
            }

            &-link-item {
              p {
                opacity: 1;
              }

              a {
                color: #e0f2fe;
              }
            }

            &-menu a {
              color: #ffffff;
            }
          }
        }

        &:not(:first-child) {
          .leadership-page-main-cards-card {
            &-text {
              p {
                color: var(--rose600);
                opacity: 1;
              }

              h3 {
                color: rgba(15, 23, 42, 1);
                opacity: 1;
              }
            }

            &-link-item {
              p {
                color: rgba(15, 23, 42, 1);
              }

              a {
                color:rgba(15, 23, 42, 1);
              }
            }

            &-line {
              background-color: #f43f5e;
            }

            &-menu a {
              color: var(--rose600);
            }
          }
        }

        &-card {
          padding: 20px;

          &-text {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 83px;

            p {
              @include font(var(--white), 20px, 400);
              display: flex;
              align-items: center;
              gap: 4px;
              opacity: 0.9;

              i {
                font-size: 16px;
              }
            }

            h3 {
              @include font(var(--white), 28px, 600);
              opacity: 0.9;
            }
          }

          &-link {
            display: flex;
            align-items: center;
            gap: 32px;
            margin-bottom: 20px;

            &-item {
              display: flex;
              flex-direction: column;
              gap: 2px;

              p {
                @include font(var(--white), 16px, 400);
                opacity: 0.8;
              }

              a {
                @include font(var(--white), 18px, 400);
                text-decoration: none;
              }
            }
          }

          &-line {
            width: 100%;
            height: 0.5px;
            background-color: var(--white);
            opacity: 0.2;
            margin-bottom: 16px;
          }

          &-menu {
            a {
              @include font(var(--white), 18px, 500);
              opacity: 0.9;
              display: flex;
              align-items: center;
              gap: 4px;
            }
          }
        }

        &-img {
          padding: 0 12px 0 0;

          img {
            display: block;
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
