@use "../config/mixins" as *;

.news {
  &-section {
    background: var(--rose50);
    padding: 50px 0;
    margin-bottom: 80px;

    @include devices("sm") {
      padding: 30px 0;
      margin-bottom: 50px;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;

      @include devices("sm") {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
      }

      h2 {
        @include font(var(--slate900), 36px, 600);
        font-family: "STIXVar";

        span {
          color: var(--rose600);
        }

        @include devices("md") {
          font-size: 28px;
        }

        @include devices("sm") {
          font-size: 22px;
        }
      }

      .news-section-all {
        color: var(--rose600);
        font-weight: 500;
        text-decoration: none;

        @include devices("sm") {
          font-size: 14px;
        }
      }
    }

    &-main {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 16px;

      @include devices("lg") {
        grid-template-columns: repeat(3, 1fr);
      }

      @include devices("md") {
        grid-template-columns: repeat(2, 1fr);
      }

      @include devices("xs") {
        grid-template-columns: 1fr;
      }
    }

    &-card {
      background: #fff;
      border-radius: 14px;
      overflow: hidden;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
      padding-bottom: 12px;
      transition: 0.3s;

      &:hover {
        transform: translateY(-5px);
      }

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;

        @include devices("sm") {
          height: 180px;
        }

        @include devices("xs") {
          height: 160px;
        }
      }

      h4 {
        @include font(var(--slate900), 20px, 500);
        margin: 16px 15px 8px 15px;
        font-family: "STIXVar";

        @include devices("sm") {
          font-size: 16px;
        }

        @include devices("xs") {
          font-size: 14px;
        }
      }

      p {
        @include font(var(--slate500), 16px, 400);
        margin: 0px 15px 16px 15px;

        @include devices("xs") {
          font-size: 14px;
        }
      }
    }

    &-meta {
      display: flex;
      align-items: center;
      gap: 6px;
      padding: 0px 15px;

      a {
        @include font(var(--slate500), 17px, 400);
        display: flex;
        align-items: center;
        gap: 4px;
        text-decoration: none;

        @include devices("sm") {
          font-size: 14px;
        }

        i {
          font-size: 20px;
          color: var(--rose600);

          @include devices("sm") {
            font-size: 16px;
          }
        }
      }

      span {
        color: rgba(174, 184, 201, 1);
      }
    }
  }

  &-page {
    margin-bottom: 100px;
    &-main {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 16px;

      @include devices("lg") {
        grid-template-columns: repeat(4, 1fr);
      }
      @include devices("md") {
        grid-template-columns: repeat(3, 1fr);
      }
      @include devices("sm") {
        grid-template-columns: repeat(2, 1fr);
      }
      @include devices("xs") {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &-card {
      background: #fff;
      border-radius: 14px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
      padding-bottom: 12px;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        transform: translateY(-5px);
      }

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      h4 {
        @include font(var(--slate900), 20px, 500);
        margin: 16px 15px 8px;
      }

      p {
        @include font(var(--slate500), 16px, 400);
        margin: 0 15px 16px;
      }

      .card-link {
        position: absolute;
        inset: 0;
        z-index: 2;
      }
    }

    &-meta {
      position: relative;
      z-index: 3;

      display: flex;
      align-items: center;
      gap: 6px;
      padding: 0 15px;

      a {
        @include font(var(--slate500), 17px, 400);
        display: flex;
        align-items: center;
        gap: 4px;
        text-decoration: none;
        position: relative;
        z-index: 4;

        i {
          font-size: 20px;
          color: var(--rose600);
        }
      }

      span {
        color: rgba(174, 184, 201, 1);
      }
    }
  }

  &-view {
    &-content {
      background-color: var(--rose50);
      padding: 20px;
      border-radius: 12px;
    }
  }
}
