<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasMenu"
    aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasMenuLabel">Menyu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="menu">

            <li class="menu-item"><a href="@/about.html" class="menu-link">Biz haqimizda</a></li>
            <li class="menu-item"><a href="@/leadership.html" class="menu-link">Rahbariyat</a></li>
            <li class="menu-item"><a href="@/education.html" class="menu-link">Ta’lim</a></li>
            <li class="menu-item"><a href="@/apply.html" class="menu-link">Qabul</a></li>
            <li class="menu-item"><a href="@/news.html" class="menu-link">Yangiliklar</a></li>
            <li class="menu-item"><a href="@/contacts.html" class="menu-link">Bog’lanish</a></li>

            <div class="menu-contact">
                <a href="#">
                    <i class="i-phone"></i>
                    <span>+998 (71) 276 80 86</span>
                </a>
                <a href="#">
                    <i class="i-mail"></i>
                    <span>info@aicp.uz</span>
                </a>
            </div>
        </ul>
    </div>
</div>


<!-- <li class="menu-item menu-item--dropdown">
                <span class="menu-link" data-bs-toggle="collapse" data-bs-target="#submenu3" aria-expanded="false" aria-controls="submenu3">
                    Полезные материалы
                    <i class="i-dropdown"></i>
                </span>
                <ul class="submenu collapse" id="submenu3">
                    <li class="submenu-item">
                        <a href="materials.html" class="submenu-link">
                            Материалы
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="exam.html" class="submenu-link">
                            Пробный SAT
                        </a>
                    </li>
                </ul>
            </li> -->