<div class="about">
    <div class="container">
        <section class="about-section">
            <div class="about-section-img">
                <img src="../../images/about-img-2.png" alt="">
                <img src="../../images/about-img1.png" alt="">
            </div>

            <div class="about-section-text">
                <h4>AICP Tashkent</h4>

                <p>
                    Bizning akademiya xalqaro standartlarga asoslangan holda fashion dizayn va kiyim konstruksiyasi
                    bo'yicha yuqori sifatli ta'limni taqdim etadi.
                </p>

                <p>
                    Ta'lim jarayonida nazariya va amaliyot uyg'unligi ta'minlanib, talabalar zamonaviy texnologiyalar
                    hamda professional metodikalar asosida bilim oladilar. Dasturlar Fransuz fashion maktablarining
                    ilg'or tajribasiga tayangan holda ishlab chiqilgan.
                </p>

                <p>
                    Akademiya bitiruvchilari sanoat talablariga mos, mustaqil fikrlovchi va yuqori malakali
                    mutaxassislar sifatida shakllanadi.
                </p>

                <button class="about-btn">Batafsil biz haqimizda</button>

                <div class="about-section-text-stats">

                    <div class="about-section-text-stat">
                        <img src="../../images/about-img-2.svg" alt="">
                        <div class="about-section-text-stat-content">
                            <h3>15,600</h3>
                            <p>Talabalar</p>
                        </div>
                    </div>

                    <div class="about-section-text-stat">
                        <img src="../../images/about-img-2.svg" alt="">
                        <div class="about-section-text-stat-content">
                            <h3>120</h3>
                            <p>O'qituvchilar</p>
                        </div>
                    </div>

                    <div class="about-section-text-stat">
                        <img src="../../images/about-img-2.svg" alt="">
                        <div class="about-section-text-stat-content">
                            <h3>2</h3>
                            <p>Dasturlar</p>
                        </div>
                    </div>

                    <div class="about-section-text-stat">
                        <img src="../../images/about-img-2.svg" alt="">
                        <div class="about-section-text-stat-content">
                            <h3>68</h3>
                            <p>Bitiruvchilar</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>