<div class="education-section">
    <div class="container">
        <div class="education-section-text">
            <h4>Akademik <span>ta’lim dasturlari</span></h4>
            <p>Akademiyamizda bakalavr va magistratura bosqichlari bo‘yicha zamonaviy va xalqaro standartlarga mos
                ta’lim dasturlari taqdim etiladi. Har bir dastur nazariy bilim va amaliy ko‘nikmalar uyg‘unligiga
                asoslangan.</p>
            <button>Batafsil</button>
        </div>

        <div class="education-section-cards">
            <div class="education-section-cards-card">
                <h4>Bakalavr ta’lim dasturi <i class="i-student"></i></h4>
                <p>Bakalavr dasturi fashion dizayn konstruksiyasi yo‘nalishlarida fundamental bilim va amaliy
                    ko‘nikmalarni shakllantirishga qaratilgan.</p>
                <a href="#">Batafsil <i class="i-left"></i></a>
            </div>
            <div class="education-section-cards-card">
                <h4>Magistratura ta’lim dasturi<i class="i-user"></i></h4>
                <p>Magistratura dasturi chuqurlashtirilgan bilim va ilmiy-amaliy yondashuv asosida tashkil etilgan
                    bo‘lib, talabalarni yuqori malakali mutaxassis.</p>
                <a href="#">Batafsil <i class="i-left"></i></a>
            </div>
        </div>
    </div>
</div>