<div class="faq">
    <div class="container">
        <div class="faq-section">
            <h2>Ko’p beriladigan <span>savollar</span></h2>
            <div class="faq-section-main">
                <div class="faq-section-image">
                    <img src="../../images/faqa-img-1.png" alt="">
                </div>

                <div class="faq-section-items">
                    <div class="faq-section-item active">
                        <div class="faq-section-item-question">
                            <span>Qabul qanday amalga oshiriladi?</span>
                            <i class="faq-section-item-question-toggle-btn i-dropdown"></i>
                        </div>

                        <div class="faq-section-item-answer">
                            Akademiyaga qabul ariza topshirish va suhbat asosida amalga oshiriladi. Nomzodning qiziqishi
                            va salohiyati inobatga olinadi.
                        </div>
                    </div>

                    <div class="faq-section-item">
                        <div class="faq-section-item-question">
                            <span>Ta’lim qaysi yo‘nalishlarda olib boriladi?</span>
                            <i class="faq-section-item-question-toggle-btn i-dropdown"></i>
                        </div>

                        <div class="faq-section-item-answer">
                            Ikkinchi savol javobi.
                        </div>
                    </div>
                    <div class="faq-section-item">
                        <div class="faq-section-item-question">
                            <span>Darslar qaysi tilda olib boriladi?</span>
                            <i class="faq-section-item-question-toggle-btn i-dropdown"></i>
                        </div>

                        <div class="faq-section-item-answer">
                            Ikkinchi savol javobi.
                        </div>
                    </div>
                    <div class="faq-section-item">
                        <div class="faq-section-item-question">
                            <span>O‘qish muddati qancha?</span>
                            <i class="faq-section-item-question-toggle-btn i-dropdown"></i>
                        </div>

                        <div class="faq-section-item-answer">
                            Ikkinchi savol javobi.
                        </div>
                    </div>
                    <div class="faq-section-item">
                        <div class="faq-section-item-question">
                            <span>Sertifikat beriladimi?</span>
                            <i class="faq-section-item-question-toggle-btn i-dropdown"></i>
                        </div>

                        <div class="faq-section-item-answer">
                            Ikkinchi savol javobi.
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const items = document.querySelectorAll(".faq-section-item");

    items.forEach(item => {
        item.addEventListener("click", () => {
            item.classList.toggle("active");
        });
    });
</script>