<section class="hero">
    <div class="hero-overlay">
        <div class="hero-overlay--video">
            <video src="@/images/hero-videoo.mp4" muted="" autoplay="" playinline="" loop=""></video>
        </div>
    </div>
    <div class="container">
        <div class="hero-content">
            <h2>
                Dizayn sohasida <span>professional</span> ta’lim
                va <span>rivojlanish</span> markazi
            </h2>
            <div class="hero-content-btn">
                <button class="primary">Onlayn qabul</button>
                <button class="secondary">Biz haqimizda</button>
            </div>
        </div>
    </div>
</section>