<section class="hero">
    <div class="hero__overlay">
        <video src="@/images/hero-viyo.mp4"muted autoplay playinline loop></video>
    </div>
    <div class="container">
        <div class="hero-content">
            <h2>
                Dizayn sohasida <i>professional</i> ta’lim
                va <i>rivojlanish</i> markazi
            </h2>
            <div class="hero-content-btn">
                <button class="primary">Onlayn qabul</button>
                <button class="secondary">Biz haqimizda</button>
            </div>
        </div>
    </div>
</section>