<div class="news">
   <div class="news-section">
  <div class="container">
    
    <div class="news-section-header">
      <h2>So’ngi <span>yangliklar</span></h2>
      <a href="#" class="news-section-all">Barchasi <i class="i-left"></i></a>
    </div>

    <div class="news-section-main">

      <div class="news-section-card">
        <img src="../../images/news-img-1.png" alt="">
        <h4 class="line-clamp-2">With kpis time old speed cross horse that nail.</h4>
        <p class="line-clamp-2">
          With kpis time old speed cross horse that nail. Call field version lean eow. Solutions...
        </p>
        <div class="news-section-meta">
          <a href="#"><i class="i-time"></i>10.12.2023</a>
          <span>/</span>
          <a href="#"><i class="i-eye"></i>40</a>
        </div>
      </div>

      <div class="news-section-card">
        <img src="../../images/news-img-3.png" alt="">
        <h4 class="line-clamp-2">Beyond metrics, swift currents shape the future's thread.</h4>
        <p class="line-clamp-2">
          Embracing agile frameworks, teams pivot towards innovation. Insights converge rapidly to unlock value.
        </p>
        <div class="news-section-meta">
          <a href="#"><i class="i-time"></i>15.11.2023</a>
          <span>/</span>
          <a href="#"><i class="i-eye"></i>55</a>
        </div>
      </div>

      <div class="news-section-card">
        <img src="../../images/news-img-4.png" alt="">
        <h4 class="line-clamp-2">Data streams flood vast plains with untold stories.</h4>
        <p class="line-clamp-2">
         Harnessing analytics, stakeholders decode patterns that drive smart decisions across sectors.
        </p>
        <div class="news-section-meta">
          <a href="#"><i class="i-time"></i>22.10.2023</a>
          <span>/</span>
          <a href="#"><i class="i-eye"></i>70</a>
        </div>
      </div>

      <div class="news-section-card">
        <img src="../../images/news-img-5.png" alt="">
        <h4 class="line-clamp-2">Echoes of progress ripple through dynamic landscapes.</h4>
        <p class="line-clamp-2">
         Collaborative synergy ignites growth, fueling sustainable advancements and resilient strategies.   
        </p>
        <div class="news-section-meta">
          <a href="#"><i class="i-time"></i>05.09.2023</a>
          <span>/</span>
          <a href="#"><i class="i-eye"></i>35</a>
        </div>
      </div>

      <div class="news-section-card">
        <img src="../../images/news-img-6.png" alt="">
        <h4 class="line-clamp-2">Innovation blooms where curiosity meets challenge.</h4>
        <p class="line-clamp-2">
          Cross-functional teams iterate rapidly, embracing change to deliver impactful solutions globally.
        </p>
        <div class="news-section-meta">
          <a href="#"><i class="i-time"></i>18.08.2023</a>
          <span>/</span>
          <a href="#"><i class="i-eye"></i>60</a>
        </div>
      </div>

    </div>
  </div>
</div>
</div>