<div class="news">
    <div class="news-section">
        <div class="container">

            <div class="news-section-header">
                <h2>So’ngi <span>yangliklar</span></h2>
                <a href="@/news.html" class="news-section-all">Barchasi <i class="i-left"></i></a>
            </div>

            <div class="news-section-main">

                <a href="@/news.html" class="news-section-card">
                    <img src="@/images/news-img-1.png" alt="">
                    <h4 class="line-clamp-2 no-tooltip">With kpis time old speed cross horse that nail.</h4>
                    <p class="line-clamp-2 no-tooltip">
                        With kpis time old speed cross horse that nail. Call field version lean eow. Solutions...
                    </p>
                    <div class="news-section-meta">
                        <b><i class="i-time"></i>10.12.2023</b>
                        <span>/</span>
                        <b><i class="i-eye"></i>40</b>
                    </div>
                </a>
                <a href="@/news.html" class="news-section-card">
                    <img src="@/images/news-img-6.png" alt="">
                    <h4 class="line-clamp-2 no-tooltip">With kpis time old speed cross horse that nail.</h4>
                    <p class="line-clamp-2 no-tooltip">
                        With kpis time old speed cross horse that nail. Call field version lean eow. Solutions...
                    </p>
                    <div class="news-section-meta">
                        <b><i class="i-time"></i>10.12.2023</b>
                        <span>/</span>
                        <b><i class="i-eye"></i>40</b>
                    </div>
                </a>
                <a href="@/news.html" class="news-section-card">
                    <img src="@/images/news-img-3.png" alt="">
                    <h4 class="line-clamp-2 no-tooltip">With kpis time old speed cross horse that nail.</h4>
                    <p class="line-clamp-2 no-tooltip">
                        With kpis time old speed cross horse that nail. Call field version lean eow. Solutions...
                    </p>
                    <div class="news-section-meta">
                        <b><i class="i-time"></i>10.12.2023</b>
                        <span>/</span>
                        <b><i class="i-eye"></i>40</b>
                    </div>
                </a>
                <a href="@/news.html" class="news-section-card">
                    <img src="@/images/news-img-4.png" alt="">
                    <h4 class="line-clamp-2 no-tooltip">With kpis time old speed cross horse that nail.</h4>
                    <p class="line-clamp-2 no-tooltip">
                        With kpis time old speed cross horse that nail. Call field version lean eow. Solutions...
                    </p>
                    <div class="news-section-meta">
                        <b><i class="i-time"></i>10.12.2023</b>
                        <span>/</span>
                        <b><i class="i-eye"></i>40</b>
                    </div>
                </a>
                <a href="@/news.html" class="news-section-card">
                    <img src="@/images/news-img-5.png" alt="">
                    <h4 class="line-clamp-2 no-tooltip">With kpis time old speed cross horse that nail.</h4>
                    <p class="line-clamp-2 no-tooltip">
                        With kpis time old speed cross horse that nail. Call field version lean eow. Solutions...
                    </p>
                    <div class="news-section-meta">
                        <b><i class="i-time"></i>10.12.2023</b>
                        <span>/</span>
                        <b><i class="i-eye"></i>40</b>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>