<div class="why-us">
    <div class="container">
        <div class="why-us-section">
            <h2>Nima uchun <span>bizning akademiya?</span></h2>
            <div class="why-us-section-text">
                <div class="why-us-section-text-cards">
                    <i class="i-verify"></i>
                    <div class="why-us-section-text-cards-card">
                        <b>Xalqaro ta’lim tizimi</b>
                        <p class="line-clamp-2">Fransuz metodikasi asosida ishlab chiqilgan dasturlar orqali xalqaro
                            bilimlarga ega bo‘lasiz.</p>
                    </div>
                </div>
                <div class="why-us-section-text-cards">
                    <i class="i-verify"></i>
                    <div class="why-us-section-text-cards-card">
                        <b>Ikkita diplom</b>
                        <p class="line-clamp-2">Parij Xalqaro Moda Akademiyasi (AICP) va Toshkent to'qimachilik va
                            yengil sanoat instituti (TTYSI)</p>
                    </div>
                </div>
                <div class="why-us-section-text-cards">
                    <i class="i-verify"></i>
                    <div class="why-us-section-text-cards-card">
                        <b>Amaliy yondashuv</b>
                        <p class="line-clamp-2">Nazariya bilan birga real loyihalar ustida ishlash orqali amaliy tajriba
                            orttirasiz.</p>
                    </div>
                </div>
                <div class="why-us-section-text-cards">
                    <i class="i-verify"></i>
                    <div class="why-us-section-text-cards-card">
                        <b>XMalakali mentorlar</b>
                        <p class="line-clamp-2">Soha mutaxassislari va tajribali o‘qituvchilar tomonidan ta’lim
                            beriladi.</p>
                    </div>
                </div>
                <div class="why-us-section-text-cards">
                    <i class="i-verify"></i>
                    <div class="why-us-section-text-cards-card">
                        <b>Karyera imkoniyatlari</b>
                        <p class="line-clamp-2">Bitiruvchilar uchun ishga joylashish va professional rivojlanish
                            imkoniyatlari yaratiladi.</p>
                    </div>
                </div>
                <div class="why-us-section-text-cards">
                    <i class="i-verify"></i>
                    <div class="why-us-section-text-cards-card">
                        <b>Sertifikat va tan olinishii</b>
                        <p class="line-clamp-2">O‘qishni yakunlagach, xalqaro darajada tan olinadigan sertifikat taqdim
                            etiladi.</p>
                    </div>
                </div>
            </div>
            <div class="why-us-section-bottom">
                <img src="@/images/why-us-img-1.png" alt="">
                <div class="why-us-section-bottom-text">
                    <div class="why-us-section-bottom-text-link">
                        <div class="why-us-section-bottom-text-link-line">
                            <p>Hurmatli talabalar va hamkorlar,</p>
                        <p>Akademiyamiz sizlarga xalqaro standartlarga mos, zamonaviy va chuqur bilim berishni o‘z
                            oldiga maqsad qilib qo‘ygan. Bizning asosiy vazifamiz — nafaqat nazariy bilim berish, balki
                            har bir talabani o‘z sohasida yetuk mutaxassis sifatida shakllantirishdir.</p>
                        <p>Ta’lim jarayonida ilg‘or metodikalar, amaliy yondashuv va individual rivojlanishga alohida
                            e’tibor qaratiladi. Ishonamizki, bizning bitiruvchilarimiz nafaqat mamlakatimizda, balki
                            xalqaro maydonda ham muvaffaqiyatli faoliyat yuritadi.</p>
                        <p>Sizni akademiyamiz safida ko‘rishdan mamnun bo‘lamiz.</p>
                        </div>
                        <div class="why-us-section-bottom-text-link-item">
                            <p>why-us-section-bottom-text-link</p>
                            <h5>Umida To'htasinovna</h5>
                        </div>
                    </div>
                    <div class="why-us-section-bottom-text-image">
                        <img src="../../images/why-us-img-3.png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>