@use "../config/mixins" as *;

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  *,
  & {
    transition: all 0.25s ease-in-out;
  }

  &.index {
    .header-button {
      background: transparent;
    }

    .header-bottom {
      backdrop-filter: blur(8px);
    }

    .header-bottom-low-item a {
      color: var(--white);
    }
  }

  &:not(.index) {
    .header-button {
      background: #fff;
    }

    .header-bottom {
      background: var(--white);
    }

    .header-line {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .header-bottom-low-item a {
      color: rgba(15, 23, 42, 1);
    }

    .lang__btn {
      color: rgba(15, 23, 42, 1);
      border: 1px solid rgba(0, 0, 0, 0.2);
      background: rgba(0, 0, 0, 0.05);
    }
  }

  &-main {
    background: var(--rose900);

    &-top {
      padding: 18px 0 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-link {
        display: flex;
        gap: 50px;

        a {
          @include font(var(--white), 16px, 500);
          display: flex;
          gap: 6px;
          opacity: 0.9;
        }
      }

      &-icon {
        display: flex;
        gap: 12px;

        i {
          font-size: 24px;
          color: var(--white);
        }
      }
    }
  }

  &-line {
    height: 0.5px;
    width: 100%;
    background-color: var(--white);
    opacity: 0.2;
  }

  &-bottom {
    backdrop-filter: blur(8px);

    &-low {
      padding: 12px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-item {
        display: flex;
        gap: 50px;

        a {
          @include font(var(--white), 18px, 500);
          opacity: 0.8;
        }
      }

      &-btn {
        display: flex;
        gap: 12px;

        .lang {
          position: relative;

          &__btn {
            padding: 9px 13px;
            border-radius: 12px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(8px);
            color: #fff;
            align-items: center;
            display: flex;
            gap: 6px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
              transform: translateY(-2px);
              box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
              background: rgba(255, 255, 255, 0.2);
            }

            &:active {
              transform: scale(0.97);
            }
          }

          &__menu {
            position: absolute;
            top: 110%;
            left: 0;
            width: 100%;
            background: rgba(64, 67, 75, 0.95);
            border-radius: 10px;

            opacity: 0;
            transform: translateY(10px);
            pointer-events: none;
            transition: 0.3s;
          }

          &__item {
            padding: 10px;
            color: #fff;
            cursor: pointer;

            &:hover {
              background: rgba(255, 255, 255, 0.1);
            }
          }

          &.active {
            .lang__menu {
              opacity: 1;
              transform: translateY(0);
              pointer-events: auto;
            }

            i {
              transform: rotate(180deg);
            }
          }
        }
        &-hide {
          padding: 8px 24px;
          border-radius: 12px;
          background-color: var(--rose600);
          border: none;

          transition: all 0.3s ease;

          &:hover {
            transform: translateY(-2px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
          }

          &:active {
            transform: scale(0.97);
          }
          a {
            @include font(var(--white), 18px, 500);
            text-decoration: none;
          }
        }
      }
    }
  }
}
